<div class=pane>
    <h1>Komentář byl přijat.</h1>
    <p>
        Vypadáte jako šunka<sup class=was title='Oproti konservě s lančmítem'>was</sup>,
        takže s jeho zveřejněním nebudeme otálet a při příštím vygenerování webu
        si ho po sobě konečně budete moci přečíst a zhrozit se nad překlepy.
    </p>
    <p>Díky! Komentáře mám moc rád, a takové, které nemusím třídit, ještě radši.</p>
</div>
