<div class=pane>
    <h1>Komentář byl odeslán</h1>
    <p>
        Nejsem si jist vaším člověčenstvím, takže si nějakou dobu pobude ve
        frontě, než ručně ověřím, že se nejedná o konservu s lančmítem.
    </p>
    <p>Díky za komentář! Pro co jiného bych ty články psal.</p>
</div>
