<div class=pane>
<h1>Geoblocked :(</h1>
<p>
    Komentáře jsou povoleny pouze z počítačů, které se dle GeoIP nachází v Česku
    nebo jiných zemích, kde mám zrovna kamarády.
</p><p>
    Jistě, zamítání podle přibližné zeměpisné polohy je nepěkné, ale velkou část
    spamu to efektivně odráží. A myslím, že si můžu dovolit předpokládat, že
    moje nepočetná čtenářská základna tímto omezením dotčena nebude.
</p><p>
    Pokud tím dotčeni jste – je mi to hrozně líto; stojím o vaše komentáře!
</p><p>
    Pokud nevydržíte s komentováním do návratu do vlasti (a já vím, že je to
    hrozná otrava), můžete mi komentář poslat e-mailem (me zavináč přezdívka
    tečka dev) a rovnou vás můžu přidat do seznamu výjimek.
</p><p>
    O text komentáře patrně nepřijdete, mělo by snad stačit stisknout
    v prohlížeči tlačítko „Zpět“.
</p>
</div>
