/*** Colours ****/

html, #theme-selector button[data-theme=light] {
    --c-page-bg:      #dfdcd7;
    --c-pane-bg:      #fff;
    --c-text:         #000;
    --c-inverse:      #fff;
    --c-link:         #137;        /* Mostly links */
    --c-emph:         #751;        /* Sidebar links, highlighting */
    --c-navbutton-bg: #fff;
    --c-weak:         #333;
    --c-separator:    #888;
    --c-img-tint:     #446ab6;
    --f-img-tint:     contrast(80%) brightness(130%) grayscale(90%) opacity(80%);
    --c-was-hint:     #ffedf0;
    --c-was-bg:       pink;
    --c-footer-bg:    rgba(0, 0, 0, 0.08);
    --c-dimmer-bg:    #03a;
    /* "Monotematic" shortcuts */
    --c-out-text:     var(--c-text);
    --c-out-link:     var(--c-emph);
    --c-was-text:     var(--c-text);
    --c-form-bg:      transparent;
}

*[data-theme="dark"] {
    --c-page-bg:      #120800;
    --c-pane-bg:      #3c3230;
    --c-text:         #fff;
    --c-inverse:      #000;
    --c-link:         #fba1ae;
    --c-emph:         #e87182;
    --c-navbutton-bg: #2b2020;
    --c-weak:         #baa;
    --c-separator:    #666;
    --c-img-tint:     #97525c;
    --f-img-tint:     contrast(90%) brightness(80%) grayscale(90%) opacity(80%);
    --c-was-hint:     #4f2327;
    --c-was-bg:       #885f65;
    --c-footer-bg:    rgba(127, 127, 127, 0.2);
    --c-dimmer-bg:    #137;
}

*[data-theme="mixed"] {
	--c-page-bg: #2f2f2f;
	--c-pane-bg: #fffbf2;
	--c-text: #000;
	--c-out-text: var(--c-pane-bg);
	--c-inverse: #fff;
	--c-link: #3a7d64;
	--c-emph: #365d8e;
	--c-navbutton-bg: #333;
	--c-weak: #ccc;
	--c-separator: #666;
	--c-img-tint: #8e7b6f;
	--f-img-tint: contrast(140%) brightness(95%) grayscale(60%) opacity(85%);
	--c-was-hint: #f2f2f2;
	--c-was-bg: var(--c-emph);
        --c-was-text:     #fff;
	--c-footer-bg: rgba(127, 127, 127, 0.2);
	--c-dimmer-bg: #477765;
        --c-out-link:     #ffa380;
        --c-form-bg:    #fff;
}

@media (prefers-color-scheme: dark) {
html:not([data-theme]),
html[data-theme="auto"],
html[data-theme=""] {
    --c-page-bg:      #120800;
    --c-pane-bg:      #3c3230;
    --c-text:         #fff;
    --c-out-text:     #dcc;
    --c-inverse:      #000;
    --c-link:         #fba1ae;
    --c-emph:         #e87182;
    --c-navbutton-bg: #2b2020;
    --c-weak:         #baa;
    --c-separator:    #666;
    --c-img-tint:     #97525c;
    --f-img-tint:     contrast(90%) brightness(80%) grayscale(90%) opacity(80%);
    --c-was-hint:     #4f2327;
    --c-was-bg:       #885f65;
    --c-footer-bg:    rgba(127, 127, 127, 0.2);
    --c-dimmer-bg:    #137;
}
}

/* Fonts */
html {
    --f-serif:  'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia';
    --f-sans:   'DejaVu Sans', 'Bitstream Vera Sans', 'Verdana';
    --f-mono:   'DejaVu Sans Mono', 'Bitstream Vera Sans Mono';
    --i-rss:    url('data:image/svg+xml;utf8,<svg width="32" height="32" version="1.1" viewBox="0 0 8.4667 8.4667" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><g transform="translate(0 -161.53)"><path transform="matrix(.26458 0 0 .26458 0 161.53)" d="m3 2v5h3a19 19 0 0 1 19 19v3h5v-3a24 24 0 0 0-24-24h-3zm0 10v5h3a8.9999 8.9999 0 0 1 9 9v3h5v-3a14 14 0 0 0-14-14h-3zm3 10a4 4 0 0 0-4 4 4 4 0 0 0 4 4 4 4 0 0 0 4-4 4 4 0 0 0-4-4z"/></g></svg>');
}

/* General - fonts and light theme colours */
html, body {
    margin: 0;
    padding: 0;
    font-family: var(--f-serif), serif;
    color: var(--c-out-text);
    background-color: var(--c-page-bg);
    font-size: 12pt;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--f-sans), sans-serif;
    line-height: initial;
}

em > em {
    font-style: normal;
}

code, kbd, var, pre, tt {
    font-family: var(--f-mono), monospace;
}

#comments .reply input:not(:checked) + label,
#reply-root:not(:checked) + label::after,
a {
    color: var(--c-link);
    text-decoration: none;
}
a.nocolor {
    color: inherit;
}
#comments .reply input:not(:checked) + label:hover,
#reply-root:not(:checked) + label:hover::after,
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#sidebar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
}
#sidebar > header blockquote {
    display: none;
}
#sidebar > header h1 {
    margin: 0; /* only for tiny */
}
#sidebar a {
    color: var(--c-out-link);
}

#navbutton {
    display: block;
    color: var(--c-link);
    font-weight: bold;
    border: 0.2em solid var(--c-link);
    background-color: var(--c-navbutton-bg);
    aspect-ratio: 1;
    padding: 0.5em;
    box-sizing: content-box;
    height: 1.6em;
    float: right;
}

#navigation {
    display: none;
    font-family: var(--f-sans), sans-serif;
}
#navigation.open {
    display: block;
}
#navigation nav {
    margin-top: 3em;
}
#navigation menu {
    margin-top: 0.6em;
    padding: 0;
}
#navigation nav > header {
    font-size: 110%;
    font-weight: bold;
    color: var(--c-weak);
}
#navigation li {
    list-style: none;
    line-height: 1.6;
    overflow-wrap: break-word;
}
#navigation li + li {
    margin-top: 0.5em;
}
#navigation .extended li + li {
    margin-top: 1em;
}
#navigation li header {
}
#navigation li small {
    color: var(--c-weak);
    font-size: 92%;
}

#theme-selector {
    word-spacing: 200%;
}
#theme-selector button {
    display: inline-block;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: bold;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--c-pane-bg);
    border-radius: 50%;
    position: relative;
    margin-top: 1em;
    opacity: 30%;
    font-family: var(--f-sans);
    box-sizing: border-box;
    padding: 0;
}
html:not([data-theme]) #theme-selector button[data-theme="auto"],
html[data-theme=""] #theme-selector button[data-theme="auto"],
html[data-theme="auto"] #theme-selector button[data-theme="auto"],
html[data-theme="light"] #theme-selector button[data-theme="light"],
html[data-theme="dark"] #theme-selector button[data-theme="dark"],
html[data-theme="mixed"] #theme-selector button[data-theme="mixed"],
#theme-selector button:hover,
#theme-selector button:focus
{
    opacity: 100%;
}
#theme-selector button::before,
#theme-selector button::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
}
#theme-selector button::before {
    top: -0.1rem;
    left: -0.1rem;
    width: calc(50% + 0.1rem);
    height: calc(100% + 0.2rem);
    background-color: var(--c-page-bg);
    border-radius: 2rem 0 0 2rem;
}
#theme-selector button::after {
    border-radius: 50%;
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    border: 0.2rem solid var(--c-link);
    top: -0.2rem;
    left: -0.2rem;
    text-align: center;
    color: var(--c-out-link); /* TODO: show --c-emph as well? */
    content: "•";
}

#theme-selector button[data-theme='auto'] {
    background-color: transparent;
}
#theme-selector button[data-theme='auto']::after {
    border-color: var(--c-weak);
    color: var(--c-weak);
    background-color: transparent;
    content: "A";
}

#content {
    max-width: 48em;
    margin: 0 auto;
    line-height: 1.6;
}


.pane {
    background-color: var(--c-pane-bg);
    color: var(--c-text);
    position: relative;
}
.pane:not(:first-child) {
    margin-top: 1em;
}

#content > main > header::before {
    content: "";
    display: table;
}
#content > main > header,
#comments > h2,
#localnav > h2 {
    padding: 0 1rem;
}
#content > main > header h1 {
    margin-bottom: 1em;
    margin-top: 0; /* only small */
}

#content > footer {
    padding: 1em;
    background-color: var(--c-footer-bg);
    color: var(--c-weak);
}

article .banner {
    display: block;
    margin: 0;
}
article .banner img {
    width: 100%;
    display: block;
    aspect-ratio: 1.618;
    object-fit: cover;
    object-position: center center;
}
article a.banner,
#localnav a.hasimg {
    background-color: var(--c-img-tint);
}
article a.banner img,
#localnav a img {
    filter: var(--f-img-tint);
    transition: filter 250ms;
}
article a.banner:hover img,
article a.banner:focus img,
article a.banner:active img,
#localnav a:hover img,
#localnav a:focus img,
#localnav a:active img {
    filter: none;
}

.article-meta footer {
    margin-top: 1em;
}

.article-meta header + footer {
    margin-top: -1em;
}
.article-meta footer ul {
    padding: 0;
    font-size: 0;
}
.article-meta footer li {
    font-size: 1rem;
    font-family: var(--f-sans), sans-serif;
    display: inline;
}
.article-meta footer li + li {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.1em solid var(--c-separator);
}

.pane > *, .article-meta > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.pane > .article-meta {
    margin: 0;
}

article.pane h2 {
    font-size: 120%;
}
article.pane h3 {
    font-size: 110%;
}
article.pane h4 {
    font-size: 100%;
}

article.pane > p {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

article.pane .readmore a {
    display: block;
    padding: 0.5em 1em;
    border-top: 0.2em dashed var(--c-page-bg); /* was #ddd */
    text-align: right;
    font-family: var(--f-sans), sans-serif;
    background-color: rgba(127, 127, 127, 0.125); /* was #f4f4f4 */
}

article.pane #readmore {
    padding-top: 1em;
    border-bottom: 0.2em dashed var(--c-page-bg); /* was #ddd */
    margin-bottom: 1em;
}

article.pane p + #readmore {
    margin-top: -1em;
}

article.pane .readmore,
article.pane #readmore {
    margin-left: 0;
    margin-right: 0;
}

.pane blockquote {
    font-style: italic;
    padding-left: 1rem;
    font-size: 110%;
    line-height: 1.8;
    border-left: 0.1rem solid var(--c-emph);
    color: var(--c-emph);
}
.pane blockquote em {
    font-style: normal;
}

blockquote {
    margin-left: 1em;
    margin-right: 1em;
}

/* I hate margin collapsing very much. */
.clear-after::after,
.article-meta::before,
.pane::before,
.pane::after {
    content: "";
    display: table;
}
.clear-after::after {
    clear: both;
}


/* Tooltips */
sup.was, sup.was-rich {
    font-style: italic;
    text-decoration: underline dotted;
    color: var(--c-link);
    background-color: var(--c-was-hint);
}
.was-rich + .was-content,
.was::before {
    position: absolute;
    background-color: var(--c-was-bg);
    color: var(--c-was-text);
    font-size: 0.9rem;
    font-style: initial;
    visibility: hidden;
    min-width: 10em;
    right: 0;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    transform: translateY(-120%);
    z-index: 100;
    opacity: 0%;
    transition-duration: 200ms;
    transition-property: opacity transform;
}
.was::before {
    content: attr(title) attr(data-tooltip);
}
.was-rich + .was-content img {
    max-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.was-rich:hover + .was-content,
.was-rich.open + .was-content,
.was:hover::before,
.was.open::before {
    visibility: visible;
    transform: translateY(-100%);
    opacity: 100%;
}
#tooltipcloser,
#dimmer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0%;
}
#tooltipcloser {
    z-index: 120;
}
#dimmer {
    z-index: 20;
    background-color: var(--c-dimmer-bg);
    transition: opacity 150ms, visibility 300ms;
    visibility: hidden;
}
#dimmer.on {
    visibility: visible;
    opacity: 12%;
}

.pane figure {
    margin: 2em auto;
}
.pane .gallery figure {
    margin: 0 auto;
}
.pane figure figcaption {
    margin: 1em;
    font-style: italic;
    text-align: center;
}
.pane figure a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.pane figure img {
    display: block;
    transition: filter 250ms;
    max-width: 100%;
    margin: 0 auto;
}
.pane figure a:hover img {
    filter: brightness(115%) contrast(90%);
}

.pane figure.reasonable,
.pane figure.wide {
    width: 100%;
}

.pane figure.reasonable img {
    max-height: 75vh;
}
.pane figure.short img {
    max-height: 50vh;
}
figure.float {
    max-width: calc( 50% - 1rem );
    margin-top: 0.4em;
}
.pane figure.float.left {
    float: left;
    margin-right: 2rem;
}
.pane figure.float.right {
    float: right;
    margin-left: 2rem;
}

.pane hr {
    width: 25%;
    margin: 2rem auto;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    margin: 2rem 0;
    gap: 1rem;
}
.gallery .gallery {
    margin: 0;
}
.gallery > * {
    flex: 1 1 12em;
}

/* Comments */
#comments ol.commentlist {
    list-style: none;
    padding: 0;
}
#comments ol.commentlist + h3 {
    margin-top: 2rem;
    margin-bottom: 0; /* if 'ol' was present, then the radio-text will be too */
}
#comments ol.commentlist > li > ol.commentlist > li {
    margin-left: 2rem
}
#comments article footer {
    margin-top: 1em;
    font-family: var(--f-sans), sans-serif;
    margin-bottom: 1em;
}
#comments article small {
    margin-left: 0.5em;
}
#comments .reply {
    text-align: right;
    margin-bottom: 0.5em;
}
#comments .reply input,
#reply-root {
    display: none;
}
#comments .reply input:checked + label,
#reply-root + label {
    visibility: hidden;
    font-size: 0;
}
#comments .reply input:checked + label::after,
#reply-root + label::after {
    visibility: visible;
    color: var(--c-emph);
    content: "Odpovídáte sem";
    font-size: 1rem;
}
#reply-root:checked + label::after {
    content: "Vkládáte samostatný komentář";
}
#reply-root:not(:checked) + label::after {
    content: "→ Neodpovídat, vložit samostatný komentář"
}
#comments input:not([type]),
#comments input[type='submit'],
#comments textarea {
    font-family: var(--f-serif), serif;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 0.1em solid var(--c-link);
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: var(--c-form-bg);
    color: var(--c-text);
    border-radius: 0;
}
#comments textarea {
    min-width: 100%;
    max-width: 100%;
}
#comments input:not([type]):focus,
#comments textarea:focus {
    border-color: var(--c-emph);
    box-shadow: 0 0 0.2em inset var(--c-page-bg);
    outline: 0;
}
#comments form > div:last-child {
    text-align: right
}
#comments input[type='submit'] {
    margin: 1em 0;
    width: auto;
    background-color: var(--c-link);
    color: var(--c-inverse);
    padding: 0.5em 1em;
}
#comments input[type='submit']:hover {
    background-color: transparent;
    color: var(--c-link);
    cursor: pointer;
}
#comments .quiz em {
    color: var(--c-emph);
}

/* Local navigation (prev/next links) */
#localnav a {
    display: block;
    padding: 1.5rem 1rem;
    margin: 0;
    position: relative;
}
#localnav a:hover {
    text-decoration: none;
}
#localnav a:not(.hasimg):hover .title {
    text-decoration: underline;
}
#localnav .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--f-sans), sans-serif;
}
#localnav a img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#localnav a div {
    position: relative;
    z-index: 3;
}
#localnav a.hasimg div {
    /* This is actually the same for dark mode */
    color: white;
    text-shadow: 0.1em 0.1em 0.05em black, 0 0 0.5em black;
}

/* Pagination */
#pagination {
    display: flex;
    text-align: center;
}
#pagination .item {
    display: inline-block;
    font-weight: bold;
    font-family: var(--f-sans), sans-serif;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin: 0;
    flex: auto 0 0;
}
#pagination .nums {
    display: inline-block;
    margin: 0;
    flex-grow: 1;
}
#pagination .arrow {
    margin: auto 0;
}

a[rel~="alternate"][type="application/rss+xml"] {
    font-size: 60%;
}
@supports (mask-image: url()) or (-webkit-mask-image: url()) {
    a[rel~="alternate"][type="application/rss+xml"] {
        font-size: 0;
        visibility: hidden;
    }
    a[rel~="alternate"][type="application/rss+xml"]::after {
        content: "";
        display: inline-block;
        visibility: visible;
        width: 1rem;
        height: 1rem;
        background-color: currentColor;
        -webkit-mask-image: var(--i-rss);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-image: var(--i-rss);
        mask-size: contain;
        mask-repeat: no-repeat;
    }
}

/* Small (but not tiny) size */
@media screen and (min-width: 36em) {
    #sidebar > header h1 {
        margin: revert;
    }
    /*
    #navigation nav {
        float: left;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 33%;
        padding: 2em;
        box-sizing: border-box;
    }
    #navigation li {
        line-height: 1.8;
    }
    #navigation::after {
        content: "";
        display: block;
        clear: both;
    }
    */
    #content > main > header,
    #sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    #sidebar,
    #content {
        width: 80%;
    }
    .pane {
        /* This is not visible in the dark mode, but doesn't hurt */
        box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
        margin: 2em 0;
    }
    .pane:not(:first-child) {
        margin-top: 0;
    }
    .was-rich + .was-content,
    .was::before {
	left: 5%;
	width: 90%;
        box-shadow: 0 0 0.4em rgba(0,0,0,0.3);
        border-radius: 0.4em;
    }
    .gallery {
        margin-left: 1em;
        margin-right: 1em;
    }
    .gallery > * {
        flex: 1 1 10em;
    }
}


/* Medium size (one side-bar) */
@media screen and (min-width: 60em) {
    #sidebar {
        float: left;
        box-sizing: border-box;
        width: 30%;
        padding: 0 3em;
        text-align: right;
        background-color: unset;
    }
    #navbutton {
        display: none;
    }
    #navigation {
        display: block;
    }
    #navigation nav {
        float: none;
        margin-top: 4em;
        margin-right: 0;
        width: unset;
        padding: 0;
    }
    #navigation nav#theme-selector {
        margin-top: 0;
    }
    #sidebar > header {
        max-width: 20em;
        margin: 0 0 0 auto;
    }
    #sidebar > header blockquote {
        display: block;
        margin-right: 0;
        font-style: italic;
        line-height: 1.6;
        color: var(--c-weak);
    }
    #content {
        margin-top: 3em;
        margin-left: 30.2%;
        margin-right:2%;
        width: auto;
    }
    #content > main > header h1 {
        margin-top: revert;
    }
    article.pane > p {
        text-align: justify;
    }
}

/* Large size (two side-bars) */
@media screen and (min-width: 90em) {
    article.pane {
        min-height: 8em;
    }
    .article-meta {
        position: relative;
    }
    .article-meta footer {
        position: absolute;
        top: 0;
        left: 100%;
        width: max-content;
        max-width: 10em;
        margin-right: 0;
        margin-left: 1.5em;
        line-height: 1.7;
    }
    .article-meta footer {
        line-height: 1.2;
    }
    .article-meta header + footer {
        margin-top: 1em;
    }
    .article-meta footer a {
        color: var(--c-out-link);
    }
    .article-meta footer li {
        display: block;
        float: none;
    }
    .article-meta footer li + li {
        padding: 0;
        margin: 0.5em 0 0 0;
        border: none;
    }
    #dimmer.on {
        visibility: visible;
        opacity: 8%;
    }
}
