[% WRAPPER page.tt -%]
<article class=pane>
    [%- IF banner %]
    <div class=banner>
        [%- SET banner_alt = "Obrázek v záhlaví" UNLESS banner_alt %]
        [%- INCLUDE autoimg src="$id/$banner" alt="$banner_alt" %]
    </div>
    [%- END %]
    <div class='article-meta'>
    <header><h1>[% title %]</h1></header>
    <footer>
        <ul>
        [% IF published %]<li><a href='[% root %]/[% id %]'>
            <time datetime="[% isostamp(published) %]">[% datef(published) %]</time></a></li>[% END %]
        <li><a href='[% root %]/[% category %]'>/[% category %]</a></li>
        <li><a href='#comments'>[% IF ncomments %][% ncomments %]
        komentář[%= plur(ncomments, '', 'e', 'ů') %][% ELSE %]bez komentáře[% END %] ↓</a></li>
        </ul>
    </footer>
    </div>
    [%- INSERT "$id/content.html" | utf8 -%]
</article>
[%- INSERT "$id/comments.html" | utf8 %]
[%- PROCESS "$id/localnav.tt" -%]
[%- IF newer or older -%]
    <div id=localnav>
    <h2>Kam dál?</h2>
    <nav class=pane>
    [%- IF newer -%][%- INCLUDE navblock linkname='Novější' rel='prev' ref=newer -%][%- END -%]
    [%- IF older -%][%- INCLUDE navblock linkname='Starší' rel='next' ref=older -%][%- END -%]
    </nav></div>
    [%- BLOCK navblock -%]
        <a href='[% "$root/$ref.id" %]' rel='[% rel %]' [% IF ref.banner %]class=hasimg[% END %]>
            [%- IF ref.banner -%]
                [%- INCLUDE autoimg src="$ref.id/$ref.banner" -%]
            [%- END -%]
            <div class=meta>[% linkname %]</div>
            <div class=title>[% ref.title %]</div>
        </a>
    [%- END -%]
[%- END -%]
[%- END -%]
